.candlestick-tooltip-label {
    -fx-font-size: 0.75em;
    -fx-font-weight: bold;
    -fx-text-fill: #142b3a;
    -fx-padding: 2 5 2 0;
}

.candlestick-average-line {
    -fx-stroke: #106ece;
    -fx-stroke-width: 2px;
}

.candlestick-candle {
    -fx-background-color: rgb(255,34,34,1.00);
}

.candlestick-line {
    -fx-stroke: #FFFFFF;
    -fx-stroke-width: 1px;
}

.candlestick-bar.close-above-open {
    -fx-background-color: rgb(25,225,25,1.00);
    -fx-border-width: 1, 1,1,1;
    -fx-border-color: #e2e2e2;
}

.candlestick-bar.open-above-close {
    -fx-background-color: rgb(255,34,34,1.00);
    -fx-border-width: 1, 1,1,1;
    -fx-font-weight: bold;
    -fx-border-color: #e2e2e2;
}



.label-gray {
    -fx-background-color: white;
}

.axis {
    -fx-tick-label-fill: #91bcc9;
    -fx-font-size: 18pt;
    -fx-tick-length: 10;
    -fx-minor-tick-length: 5;
}

.axis-label {
    -fx-text-fill: white;
}

.axis-tick-mark {
    -fx-stroke: white;
    -fx-stroke-width: 1;
}

.axis-minor-tick-mark {
    -fx-stroke: white;
}

.chart {
  -fx-background-color: #1d1d20;
  -fx-horizontal-zero-line-visible: true;
}

.chart-plot-background {
  -fx-background-color: #1d1d20;
}

.chart-horizontal-grid-lines {
    -fx-stroke: #91bcc9;
    -fx-stroke-dash-array: 5;
    -fx-opacity: 0.1;
}
