.menu-bar {
    -fx-background-color: #222226;
}

.menu-item {
    -fx-background-color: #222226;
}

.context-menu {
    -fx-background-color: #222226;
}

.menu-item:hover {
    -fx-background-color: #078FB7;
    -fx-cursor: hand;
}

.menu:hover {
    -fx-background-color: #078FB7;
    -fx-cursor: hand;
}

.menu .label {
    -fx-text-fill: white;
}

.menu-item .label {
    -fx-text-fill: white;
}

.split-pane {
    -fx-background-color: #1d1d20;
}

.split-pane .split-pane-divider {
    -fx-padding: 0 0 0 1em;
    -fx-background-color: #333339
}

.table-view {
    -fx-table-cell-border-color: #1d1d20
}

.table-view .column-header, .table-view .column-header-background .filler {
    -fx-background-color:  #1d1d20;
}

.table-view .label {
    -fx-text-fill: white;
}

.table-row-cell {
    -fx-background-color: #222226;
}

.table-view .cell {
    -fx-text-fill: white;
}

.table-row-cell:hover {
    -fx-background-color: #078FB7;
    -fx-cursor: hand;
}

.table-row-cell:selected {
    -fx-background-color: #0581AA;
}